.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-container {
  width: 100vmin;
  height: 100vmin;
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 0;
}
