.app {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
}

.button-container {
  width: 100vmin;
  height: 100vmin;
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 0;
}
